@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

$headings-font-family: 'Oswald', 'Roboto Condensed', 'Lato', Arial, serif;
$headings-font-weight: 200;
$display-font-weight: 200;
$font-size-base: 1.2rem;
$font-family-sans-serif: 'Lato', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-serif: 'Lora', serif, Times New Roman;
$font-family-monospace: 'Roboto Mono', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$black: #131618;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.font-half-condensed-bold {
    font-family: 'Roboto Condensed', 'Oswald', 'Lato', sans-serif;
    font-weight: 700;
}
.font-half-condensed-400 {
    font-family: 'Roboto Condensed', 'Oswald', 'Lato', sans-serif;
    font-weight: 400;
}
.font-half-condensed-300 {
    font-family: 'Roboto Condensed', 'Oswald', 'Lato', sans-serif;
    font-weight: 300;
}

.font-serif {
    font-family: $font-family-serif !important;
}

.artefato-titulo {
    font-family: $headings-font-family !important;
    font-weight: 300 !important;
    font-size: 1.15em !important;
    line-height: 110%;
}

img {
    max-width: 100%;
}

.p-limit, p {
    max-width: 70ch;
}

a {
    text-decoration: none;
}
